body.dark-mode {
    background-color: #121212;
    --border-color: #242424;
    --text-color: hsl(0, 0%, 73%);
    --bg-color: #181818;
    --hover-color: #111111;
    --displayImageDark: block;
    --displayImageLight: none;
    --displayToggleInDarkMode: inline;
    --displayToggleInLightMode: none;
    --buySellCardBg: #222222;
    --buySellCardTabBg: #262626;
    --inputBg: #313131;
    --inputDisableBg: 45deg, #2c2c2c, #2c2c2c 10px, #1e1e1e 10px, #1e1e1e 20px;
    --bg-gradient-color: #181818;
    --gradient-overlay-color: #0a0a0a 0%, transparent 100%;
    --developer-bg: #181818;
    --box-shadow: 0 2px 8px rgba(255, 255, 255, 0.05);
}

body.light-mode {
    background-color: #F8F8F8;
    --border-color: #e6e6e6;
    --text-color: #595C5F;
    --bg-color: white;
    --hover-color: #fafafa;
    --displayImageDark: none;
    --displayImageLight: block;
    --displayToggleInDarkMode: none;
    --displayToggleInLightMode: inline;
    --buySellCardBg: #FFFFFF;
    --buySellCardTabBg: #F5F5F5;
    --inputBg: #FFFFFF;
    --inputDisableBg: 45deg, #f2f2f2, #f2f2f2 10px, #e6e6e6 10px, #e6e6e6 20px;
    --bg-gradient-color: radial-gradient(41% 81.3492% at 74.2% 0%, var(--token-1cb18eae-2272-4f0f-ba2c-e5785bd11883, #f7f4f4)0%, var(--token-e7a098e7-0c86-4638-a962-54291c75128d, #fff)100%);
    --gradient-overlay-color: #fcfdff 0%, transparent 100%;
    --developer-bg: var(--token-1cb18eae-2272-4f0f-ba2c-e5785bd11883, #f7f4f4);
    --box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}